{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_view('CIT CLIENTES') %}
            {{ topbar.button('Clientes', url_for('cit_clientes.list_active'), 'mdi mdi-account') }}
        {% endif %}
        {% if current_user.can_view('CIT CLIENTES REGISTROS') %}
            {{ topbar.button('Registros', url_for('cit_clientes_registros.list_active'), 'mdi mdi-account-plus') }}
        {% endif %}
        {% if current_user.can_admin('CIT CLIENTES RECUPERACIONES') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('cit_clientes_recuperaciones.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('cit_clientes_recuperaciones.list_active')) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- Filtros Cit Clientes Recuperaciones -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosCitClientesRecuperaciones.buscar(); return false;">
                   <div class="col-5">
                        <div class="form-floating">
                            <input id="filtroEmail" type="text" class="form-control" aria-label="Correo Electrónico">
                            <label for="filtroEmail">Correo Electrónico</label>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="form-floating">
                            <input id="filtroNombreCompleto" type="text" class="form-control" aria-label="Nombres" style="text-transform: uppercase;">
                            <label for="filtroNombreCompleto">NombreCompleto</label>
                        </div>
                    </div>
                     <div class="col-2 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosCitClientesRecuperaciones.buscar(); return false;" id="button-buscar"><span class="mdi mdi-magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosCitClientesRecuperaciones.limpiar();" id="button-limpiar"><span class="mdi mdi-broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- DataTable Cit Clientes Recuperaciones -->
        <table id="cit_clientes_recuperaciones_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Creado</th>
                    <th>Correo electrónico</th>
                    <th>Nombre completo</th>
                    <th>Ya recuperado</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script src="{{ url_for('static', filename='js/datatables-constructor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datatables-filtros.js') }}"></script>
    <script>
        // DataTable Cit Clientes Recuperaciones
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDTCitClientesRecuperaciones = constructorDataTable.config();
        configDTCitClientesRecuperaciones['ajax']['url'] = '{{ url_for("cit_clientes_recuperaciones.datatable_json") }}';
        configDTCitClientesRecuperaciones['ajax']['data'] = {{ filtros }};
        configDTCitClientesRecuperaciones['columns'] = [
            { data: 'detalle' },
            { data: 'cit_cliente' },
            { data: 'cit_cliente_nombre' },
            { data: 'ya_recuperado' }
        ];
        configDTCitClientesRecuperaciones['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.creado + '</a>';
                }
            },
            {
                targets: 1, // cit_cliente
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url !== '') {
                        return '<a href="' + data.url + '">' + data.email + '</a>';
                    }
                    return data.nombre
                }
            },
            {
                targets: 3, // ya_recuperado
                data: null,
                render: function(data, type, row, meta) {
                    if (data) {
                        return '<span class="badge rounded-pill bg-success px-3 ms-3">Sí</span>';
                    }
                    return '<span class="badge rounded-pill bg-danger px-3 ms-3">No</span>';
                }
            }
        ];
        // Filtros Cit Clientes Recuperaciones
        const filtrosCitClientesRecuperaciones = new FiltrosDataTable('#cit_clientes_recuperaciones_datatable', configDTCitClientesRecuperaciones);
        filtrosCitClientesRecuperaciones.agregarInput('filtroEmail', 'email');
        filtrosCitClientesRecuperaciones.agregarInput('filtroNombreCompleto', 'nombre_completo');
        filtrosCitClientesRecuperaciones.precargar();
    </script>
{% endblock %}
