.directory
.DS_Store
.~lock.*

*.csv
*.log
*.py[cod]
*.sqlite3
*.sqlite3-journal
*.session.sql
*.xls
*.xlsx
*.XLS
*.XLSX

.bashrc
.zshrc
.env
poetry.lock
uv.lock

/tests/*.json

__pycache__/
*.egg-info/

/.idea/
/.venv/
/venv/
/seed/

gclouddeploy.sh
