{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Cliente Registro{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Cliente Registro ' + cit_cliente_registro.email) %}
        {{ topbar.button_previous('Clientes Registros', url_for('cit_clientes_registros.list_active')) }}
        {# if current_user.can_edit('CIT CLIENTES REGISTROS') %}
            {{ topbar.button_edit('Editar', url_for('cit_clientes_registros.edit', cit_cliente_registro_id=cit_cliente_registro.id)) }}
        {% endif #}
        {% if current_user.can_admin('CIT CLIENTES REGISTROS') %}
            {% if cit_cliente_registro.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('cit_clientes_registros.delete', cit_cliente_registro_id=cit_cliente_registro.id)) }}{% endif %}
            {% if cit_cliente_registro.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('cit_clientes_registros.recover', cit_cliente_registro_id=cit_cliente_registro.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=cit_cliente_registro.estatus) %}
        {{ detail.label_value('Email', cit_cliente_registro.email) }}
        {{ detail.label_value('Nombres', cit_cliente_registro.nombres) }}
        {{ detail.label_value('Apellido primero', cit_cliente_registro.apellido_primero) }}
        {{ detail.label_value('Apellido segundo', cit_cliente_registro.apellido_segundo) }}
        {{ detail.label_value('CURP', cit_cliente_registro.curp) }}
        {{ detail.label_value('Telefono', cit_cliente_registro.telefono) }}
        {{ detail.label_value('Expiracion', moment(cit_cliente_registro.expiracion, local=True).format('llll')) }}
        {{ detail.label_value('Cadena validar', cit_cliente_registro.cadena_validar) }}
        {{ detail.label_value('Cantidad de mensajes', cit_cliente_registro.mensajes_cantidad) }}
        {{ detail.label_value_boolean('Ya registrado', cit_cliente_registro.ya_registrado) }}
        {{ detail.label_value('URL de validación', verificacion_url) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('CIT CLIENTES REGISTROS') %}
        {% if cit_cliente_registro.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar el intento de registro de ' + cit_cliente_registro.email + '?') }}{% endif %}
        {% if cit_cliente_registro.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar el intento de registro de ' + cit_cliente_registro.email + '?') }}{% endif %}
    {% endif %}
{% endblock %}
