{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_view('CIT CLIENTES') %}
            {{ topbar.button('Clientes', url_for('cit_clientes.list_active'), 'mdi mdi-account') }}
        {% endif %}
        {% if current_user.can_view('CIT CLIENTES RECUPERACIONES') %}
            {{ topbar.button('Recuperaciones', url_for('cit_clientes_recuperaciones.list_active'), 'mdi mdi-lock-reset') }}
        {% endif %}
        {% if current_user.can_admin('CIT CLIENTES REGISTROS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('cit_clientes_registros.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('cit_clientes_registros.list_active')) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- Filtros Cit Clientes Registros -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosCitClientesRegistros.buscar(); return false;">
                   <div class="col-5">
                        <div class="form-floating">
                            <input id="filtroEmail" type="text" class="form-control" aria-label="Correo Electrónico">
                            <label for="filtroEmail">Correo Electrónico</label>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="form-floating">
                            <input id="filtroNombreCompleto" type="text" class="form-control" aria-label="Nombre Completo" style="text-transform: uppercase;">
                            <label for="filtroNombreCompleto">Nombre Completo</label>
                        </div>
                    </div>
                     <div class="col-2 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosCitClientesRegistros.buscar(); return false;" id="button-buscar"><span class="mdi mdi-magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosCitClientesRegistros.limpiar();" id="button-limpiar"><span class="mdi mdi-broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- DataTable Cit Clientes Registros -->
        <table id="cit_clientes_registros_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Creado</th>
                    <th>Correo electrónico</th>
                    <th>Nombre Completo</th>
                    <th>Ya registrado</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script src="{{ url_for('static', filename='js/datatables-constructor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datatables-filtros.js') }}"></script>
    <script>
        // DataTable Cit Clientes Registros
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDTCitClientesRegistros = constructorDataTable.config();
        configDTCitClientesRegistros['ajax']['url'] = '{{ url_for("cit_clientes_registros.datatable_json") }}';
        configDTCitClientesRegistros['ajax']['data'] = {{ filtros }};
        configDTCitClientesRegistros['columns'] = [
            { data: 'detalle' },
            { data: 'email' },
            { data: 'nombre_completo' },
            { data: 'ya_registrado' }
        ];
        configDTCitClientesRegistros['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.creado + '</a>';
                }
            },
            {
                targets: 1, // email
                data: null,
                render: function(data, type, row, meta) {
                    if (data.length > 24) {
                        return data.substring(0, 24) + '…';
                    }
                    return data;
                }
            },
            {
                targets: 2, // nombre_completo
                data: null,
                render: function(data, type, row, meta) {
                    return data.length > 24 ? data.substring(0, 24) + '…' : data;
                }
            },
            {
                targets: 3, // ya_registrado
                data: null,
                render: function(data, type, row, meta) {
                    if (data) {
                        return '<span class="badge rounded-pill bg-success px-3 ms-3">Sí</span>';
                    }
                    return '<span class="badge rounded-pill bg-danger px-3 ms-3">No</span>';
                }
            }
        ];

        // Filtros Cit Clientes Registros
        const filtrosCitClientesRegistros = new FiltrosDataTable('#cit_clientes_registros_datatable', configDTCitClientesRegistros);
        filtrosCitClientesRegistros.agregarInput('filtroEmail', 'email');
        filtrosCitClientesRegistros.agregarInput('filtroNombreCompleto', 'nombre_completo');
        filtrosCitClientesRegistros.precargar();
    </script>
{% endblock %}
