{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Cita{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Cita ' + cit_cita.id | string) %}
        {{ topbar.button_previous('Citas', url_for('cit_citas.list_active')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 col-md-12">
            {% call detail.card(title='Cliente', estatus=cit_cita.estatus) %}
                {{ detail.label_value('Nombre', cit_cita.cit_cliente.nombre) }}
                {% if current_user.can_view('CIT CLIENTES') %}
                    {{ detail.label_value('e-mail', cit_cita.cit_cliente.email, url_for('cit_clientes.detail', cit_cliente_id=cit_cita.cit_cliente_id)) }}
                {% else %}
                    {{ detail.label_value('e-mail', cit_cita.cit_cliente.email) }}
                {% endif %}
            {% endcall %}
        </div>
        <div class="col-lg-4 col-md-12">
            {% call detail.card(title='Oficina', estatus=cit_cita.estatus) %}
                {{ detail.label_value('Edificio', cit_cita.oficina.domicilio.edificio) }}
                {% if current_user.can_view('OFICINAS') %}
                    {{ detail.label_value('Clave', cit_cita.oficina.clave, url_for('oficinas.detail', oficina_id=cit_cita.oficina_id)) }}
                {% else %}
                    {{ detail.label_value('Clave', cit_cita.oficina.clave) }}
                {% endif %}
                {{ detail.label_value('Descripción', cit_cita.oficina.descripcion) }}
            {% endcall %}
        </div>
        <div class="col-lg-4 col-md-12">
            {% call detail.card(title='Servicio', estatus=cit_cita.estatus) %}
                {% if current_user.can_view('CIT SERVICIOS') %}
                    {{ detail.label_value('Clave', cit_cita.cit_servicio.clave, url_for('cit_servicios.detail', cit_servicio_id=cit_cita.cit_servicio_id)) }}
                {% else %}
                    {{ detail.label_value('Clave', cit_cita.cit_servicio.clave) }}
                {% endif %}
                {{ detail.label_value('Descripción', cit_cita.cit_servicio.descripcion) }}
                {{ detail.label_value('Duración', cit_cita.cit_servicio.duracion) }}
            {% endcall %}
        </div>
    </div>
    {% call detail.card(title='Detalles de esta cita', estatus=cit_cita.estatus) %}
        {{ detail.label_value_big('Notas', cit_cita.notas) }}
        {{ detail.label_value('Agendada', moment(cit_cita.creado, local=True).format('llll')) }}
        {{ detail.label_value('Inicia', moment(cit_cita.inicio, local=True).format('llll')) }}
        {{ detail.label_value('Termina', moment(cit_cita.termino, local=True).format('llll')) }}
        <div class="row">
            <div class="col-md-3 text-end">Estado</div>
            <div class="col-md-9">
                {% if cit_cita.estado == 'CANCELO' %}
                    {% set color = 'danger' %}
                {% elif cit_cita.estado == 'PENDIENTE' %}
                    {% set color = 'warning text-dark' %}
                {% elif cit_cita.estado == 'ASISTIO' %}
                    {% set color = 'success' %}
                {% else %}
                    {% set color = 'dark' %}
                {% endif %}
                <span class="badge rounded-pill bg-{{color}}">{{ cit_cita.estado }}</span>
            </div>
        </div>
        {{ detail.label_value('Creado', moment(cit_cita.creado, local=False).format('DD MMM YYYY HH:mm')) }}
    {% endcall %}
    {% call detail.card(title='Código de asistencia', estatus=cit_cita.estatus) %}
        {{ detail.label_value('Código asistencia', cit_cita.codigo_asistencia) }}
        {{ detail.label_value('ID', cit_cita.codigo_acceso_id) }}
        {{ detail.label_value('URL', cit_cita.codigo_acceso_url) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
