{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_admin('CIT CITAS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('cit_citas.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('cit_citas.list_active')) }}{% endif %}
        {% endif %}
        {% if mostrar_btn_hoy %}
            {{ topbar.button_primary('Hoy', url_for('cit_citas.list_dia_hoy'), 'mdi mdi-arrow-collapse-down') }}
        {% else %}
            <a class="btn btn-sm btn-outline-primary active" disabled><span class="mdi mdi-arrow-collapse-down"></span> Hoy</a>
        {% endif %}
        {% if mostrar_btn_manana %}
            {{ topbar.button_primary('Mañana', url_for('cit_citas.list_dia_manana'), 'mdi mdi-skip-next') }}
        {% else %}
            <a class="btn btn-sm btn-outline-primary active" disabled><span class="mdi mdi-skip-next"></span> Mañana</a>
        {% endif %}
        {% if mostrar_btn_todas %}
            {{ topbar.button('Todas', url_for('cit_citas.list_active'), 'mdi mdi-all-inclusive') }}
        {% else %}
            <a class="btn btn-sm btn-outline-secondary active" disabled><span class="mdi mdi-all-inclusive"></span> Todas</a>
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- Filtros CitCitas -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosCitCitas.buscar(); return false;">
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroEmail" type="text" class="form-control" aria-label="Correo Electrónico">
                            <label for="filtroEmail">Correo Electrónico</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroNombres" type="text" class="form-control" aria-label="Nombres" style="text-transform: uppercase;">
                            <label for="filtroNombres">Nombres</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroApellidoPrimero" type="text" class="form-control" aria-label="Primer Apellido" style="text-transform: uppercase;">
                            <label for="filtroApellidoPrimero">Primer Apellido</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroApellidoSegundo" type="text" class="form-control" aria-label="Segundo Apellido" style="text-transform: uppercase;">
                            <label for="filtroApellidoSegundo">Segundo Apellido</label>
                        </div>
                    </div>
                    <div class="col-4 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosCitCitas.buscar(); return false;" id="button-buscar"><span class="mdi mdi-magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosCitCitas.limpiar();" id="button-limpiar"><span class="mdi mdi-broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- DataTable CitCitas -->
        <table id="cit_citas_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Inicio</th>
                    <th>Término</th>
                    <th>Correo electrónico</th>
                    <th>Nombre completo</th>
                    <th>Oficina</th>
                    <th>Servicio</th>
                    <th>Estado</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script src="{{ url_for('static', filename='js/datatables-constructor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datatables-filtros.js') }}"></script>
    <script>
        // DataTable CitCitas
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDTCitCitas = constructorDataTable.config();
        configDTCitCitas['ajax']['url'] = '{{ url_for("cit_citas.datatable_json") }}';
        configDTCitCitas['ajax']['data'] = {{ filtros }};
        configDTCitCitas['columns'] = [
            { data: "fecha" },
            { data: "inicio" },
            { data: "termino" },
            { data: "cit_cliente" },
            { data: "cit_cliente_nombre" },
            { data: "oficina" },
            { data: "cit_servicio" },
            { data: "estado" }
        ];
        configDTCitCitas['columnDefs'] = [
            {
                targets: 0, // fecha
                type: 'date',
                render: function (data, type, row) {
                    return '<a href="' + data.url + '">' + data.fecha + '</a>';;
                }
            },
            {
                targets: 3, // cit_cliente
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url !== '') {
                        return '<a href="' + data.url + '">' + data.email + '</a>';
                    }
                    return data.email;
                }
            },
            {
                targets: 4, // cit_cliente_nombre
                data: null,
                render: function(data, type, row, meta) {
                    return data.length > 32 ? data.substring(0, 32) + '…' : data;
                }
            },
            {
                targets: [5, 6], // oficina y cit_servicio
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url !== '') {
                        return '<span title="' + data.descripcion + '">' + '<a href="' + data.url + '">' + data.clave + '</a></span>';
                    }
                    return '<span title="' + data.descripcion + '">' + data.clave + '</span>';
                }
            },
            {
                targets: 7, // Estado
                data: null,
                render: function(data, type, row, meta) {
                    let bg_class = "bg-primary";
                    switch (data)    {
                        case "ASISTIO":      bg_class = "bg-success";           break;
                        case "PENDIENTE":    bg_class = "bg-warning text-dark"; break;
                        case "CANCELO":      bg_class = "bg-secondary";         break;
                        case "INASISTENCIA": bg_class = "bg-danger";            break;
                    }
                    return '<span class="badge rounded-pill ' + bg_class + ' px-3">' + data + '</span>';
                }
            }
        ];
        // DataTable estilos en las filas segun estado
        // configDTCitCitas['createdRow'] = function(row, data, dataIndex) {
        //     switch (data.estado) {
        //         case "ASISTIO":      $(row).addClass('table-success');   break;
        //         case "PENDIENTE":    $(row).addClass('table-warning');   break;
        //         case "CANCELO":      $(row).addClass('table-secondary'); break;
        //         case "INASISTENCIA": $(row).addClass('table-danger');    break;
        //     }
        // };
        // Filtros CitCitas
        const filtrosCitCitas = new FiltrosDataTable('#cit_citas_datatable', configDTCitCitas);
        filtrosCitCitas.agregarInput('filtroEmail', 'cit_cliente_email');
        filtrosCitCitas.agregarInput('filtroNombres', 'cit_cliente_nombres');
        filtrosCitCitas.agregarInput('filtroApellidoPrimero', 'cit_cliente_apellido_primero');
        filtrosCitCitas.agregarInput('filtroApellidoSegundo', 'cit_cliente_apellido_segundo');
        filtrosCitCitas.precargar();
    </script>
{% endblock %}
