{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Categoria {{ cit_categoria.clave }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Categoría ' + cit_categoria.nombre) %}
        {{ topbar.button_previous('Categorías', url_for('cit_categorias.list_active')) }}
        {% if current_user.can_edit('CIT CATEGORIAS') %}
            {{ topbar.button_edit('Editar', url_for('cit_categorias.edit', cit_categoria_id=cit_categoria.id)) }}
        {% endif %}
        {% if current_user.can_admin('CIT CATEGORIAS') %}
            {% if cit_categoria.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('cit_categorias.delete', cit_categoria_id=cit_categoria.id)) }}{% endif %}
            {% if cit_categoria.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('cit_categorias.recover', cit_categoria_id=cit_categoria.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=cit_categoria.estatus) %}
        {{ detail.label_value_big('Clave', cit_categoria.clave) }}
        {{ detail.label_value('Nombre', cit_categoria.nombre) }}
        {{ detail.label_value_boolean('Activo', cit_categoria.es_activo) }}
    {% endcall %}
    {% if current_user.can_view('CIT SERVICIOS') %}
        {% call detail.card('Servicios') %}
            <!-- Filtros CitServicios -->
            <div class="row">
                <div class="col">
                    <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosCitServicios.buscar(); return false;">
                        <div class="col-4">
                            <div class="form-floating">
                                <input id="filtroClave" type="text" class="form-control" aria-label="Clave" style="text-transform: uppercase;">
                                <label for="filtroClave">Clave</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <input id="filtroDescripcion" type="text" class="form-control" aria-label="Descripción" style="text-transform: uppercase;">
                                <label for="filtroDescripcion">Descripción</label>
                            </div>
                        </div>
                        <div class="col-2 text-end">
                            <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosCitServicios.buscar(); return false;" id="button-buscar"><span class="mdi mdi-magnify"></span></button>
                            <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosCitServicios.limpiar();" id="button-limpiar"><span class="mdi mdi-broom"></span></button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- DataTable CitServicios -->
            <table id="cit_servicios_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Clave</th>
                        <th>Descripción</th>
                        <th>Duración</th>
                        <th>Desde</th>
                        <th>Hasta</th>
                        <th>Activo</th>
                    </tr>
                </thead>
            </table>
            {% if current_user.can_insert('CIT SERVICIOS') %}
            <a href="{{ url_for('cit_servicios.new') + '?cit_categoria_id=' + cit_categoria.id | string }}" class="btn btn-primary">Agregar Servicio</a>
            {% endif %}
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    <!-- Modales -->
    {% if current_user.can_admin('CIT CATEGORIAS') %}
        {% if cit_categoria.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + cit_categoria.nombre + '?') }}{% endif %}
        {% if cit_categoria.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + cit_categoria.nombre + '?') }}{% endif %}
    {% endif %}
    <!-- DataTables -->
    <script src="{{ url_for('static', filename='js/datatables-constructor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datatables-filtros.js') }}"></script>
    {% if current_user.can_view('CIT SERVICIOS') %}
        <script>
            // DataTable CitServicios
            const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
            let configDTCitServicios = constructorDataTable.config();
            configDTCitServicios['ajax']['url'] = '{{ url_for("cit_servicios.datatable_json") }}';
            configDTCitServicios['ajax']['data'] = { 'estatus': "A", 'cit_categoria_id': "{{ cit_categoria.id }}" };
            configDTCitServicios['columns'] = [
                { data: 'detalle' },
                { data: 'descripcion' },
                { data: 'duracion' },
                { data: 'desde' },
                { data: 'hasta' },
                { data: 'toggle_es_activo' }
            ];
            configDTCitServicios['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.clave + '</a>';
                    }
                },
                {
                    targets: 5, // toggle_es_activo
                    data: null,
                    render: function(data, type, row, meta) {
                        if (data.url === '') {
                            if (data.es_activo === true) {
                                return '<span class="badge bg-primary">Activo</span>';
                            } else {
                                return '<span class="badge bg-secondary">Inactivo</span>';
                            }
                        }
                        let myId = 'cit_servicios_es_activo_' + data.id;
                        let myRow = 'cit_servicios_row_' + data.id;
                        let myOnClick = "toggleEsActivo('#" + myId + "', '" + data.url + "', '#" + myRow + "')";
                        if (data.es_activo === true) {
                            return '<button id="' + myId + '" type="button" class="btn btn-sm btn-outline-primary" onclick="' + myOnClick + '"><span class="mdi mdi-toggle-switch"></span></button>';
                        } else {
                            return '<button id="' + myId + '" type="button" class="btn btn-sm btn-light" onclick="' + myOnClick + '"><span class="mdi mdi-toggle-switch-off"></span></button>';
                        }
                    }
                }
            ];
            // Cambiar las filas según toggle_es_activo
            // configDTCitServicios['createdRow'] = function(row, data, dataIndex) {
            //     if (data.hasOwnProperty('toggle_es_activo')) {
            //         // Cambiar el color de la fila si es_activo es false
            //         if (!data.toggle_es_activo.es_activo) $(row).addClass('table-secondary');
            //         // Asignar un id a la fila
            //         $(row).attr('id', 'cit_servicios_row_' + data.toggle_es_activo.id);
            //     }
            // };
            // Filtros CitServicios
            const filtrosCitServicios = new FiltrosDataTable('#cit_servicios_datatable', configDTCitServicios);
            filtrosCitServicios.agregarInput('filtroClave', 'clave');
            filtrosCitServicios.agregarInput('filtroDescripcion', 'descripcion');
            filtrosCitServicios.precargar();
        </script>
    {% endif %}
    <!-- Datatables botones toggle_es_activo -->
    <script src="{{ url_for('static', filename='js/datatables-toggles.js') }}"></script>
    <script>
        // Preparar headers para POST
        const myHeaders = new Headers();
        myHeaders.append("X-CSRF-TOKEN", "{{ csrf_token() }}");
        const myInit = {
            method: "POST",
            headers: myHeaders,
            mode: "cors",
            cache: "default",
        };
    </script>
{% endblock %}
