{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_admin('CIT OFICINAS SERVICIOS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('cit_oficinas_servicios.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('cit_oficinas_servicios.list_active')) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- Filtros CitOficinasServicios -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosCitOficinasServicios.buscar(); return false;">
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroOficinaClave" type="text" class="form-control" aria-label="Oficina Clave" style="text-transform: uppercase;">
                            <label for="filtroOficinaClave">Oficina Clave</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-floating">
                            <input id="filtroOficinaDescripcionCorta" type="text" class="form-control" aria-label="Oficina Descripción Corta" style="text-transform: uppercase;">
                            <label for="filtroOficinaDescripcionCorta">Oficina Descripción corta</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroCitServicioClave" type="text" class="form-control" aria-label="Servicio Clave" style="text-transform: uppercase;">
                            <label for="filtroCitServicioClave">Servicio Clave</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-floating">
                            <input id="filtroCitServicioDescripcion" type="text" class="form-control" aria-label="Servicio Descripción" style="text-transform: uppercase;">
                            <label for="filtroCitServicioDescripcion">Servicio Descripción</label>
                        </div>
                    </div>
                    <div class="col-2 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosCitOficinasServicios.buscar(); return false;" id="button-buscar"><span class="mdi mdi-magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosCitOficinasServicios.limpiar();" id="button-limpiar"><span class="mdi mdi-broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- DataTable CitOficinasServicios -->
        <table id="cit_oficinas_servicios_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Oficina</th>
                    <th>Descripción corta</th>
                    <th>Servicio</th>
                    <th>Descripción</th>
                    <th>Límite</th>
                    <th>Activo</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <!-- Datatables -->
    <script src="{{ url_for('static', filename='js/datatables-constructor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datatables-filtros.js') }}"></script>
    <script>
        // DataTable CitOficinasServicios
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDTCitOficinasServicios = constructorDataTable.config();
        configDTCitOficinasServicios['ajax']['url'] = '{{ url_for("cit_oficinas_servicios.datatable_json") }}';
        configDTCitOficinasServicios['ajax']['data'] = {{ filtros }};
        configDTCitOficinasServicios['columns'] = [
            { data: 'detalle' },
            { data: 'oficina' },
            { data: 'oficina_descripcion_corta' },
            { data: 'cit_servicio' },
            { data: 'cit_servicio_descripcion' },
            { data: 'limite_personas' },
            { data: "toggle_es_activo" }
        ];
        configDTCitOficinasServicios['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id.substring(0, 8) + '</a>';
                }
            },
            {
                targets: 1, // oficina
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url !== '') {
                        return '<a href="' + data.url + '">' + data.clave + '</a>';
                    }
                    return data.clave;
                }
            },
            {
                targets: 2, // oficina_descripcion_corta
                data: null,
                render: function(data, type, row, meta) {
                    return (data.length > 32 ? data.substring(0, 32) + '…' : data);
                }
            },
            {
                targets: 3, // cit_servicio
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url !== '') {
                        return '<a href="' + data.url + '">' + data.clave + '</a>';
                    }
                    return data.clave;
                }
            },
            {
                targets: 4, // cit_servicio_descripcion
                data: null,
                render: function(data, type, row, meta) {
                    return (data.length > 32 ? data.substring(0, 32) + '…' : data);
                }
            },
            {
                targets: 5, // limite_personas
                data: null,
                render: function(data, type, row, meta) {
                    return data;
                }
            },
            {
                targets: 6, // toggle_es_activo
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url === '') {
                        if (data.es_activo === true) {
                            return '<span class="badge bg-primary">Activo</span>';
                        } else {
                            return '<span class="badge bg-secondary">Inactivo</span>';
                        }
                    }
                    let myId = 'cit_oficinas_servicios_es_activo_' + data.id;
                    let myRow = 'cit_oficinas_servicios_row_' + data.id;
                    let myOnClick = "toggleEsActivo('#" + myId + "', '" + data.url + "', '#" + myRow + "')";
                    if (data.es_activo === true) {
                        return '<button id="' + myId + '" type="button" class="btn btn-sm btn-outline-primary" onclick="' + myOnClick + '"><span class="mdi mdi-toggle-switch"></span></button>';
                    } else {
                        return '<button id="' + myId + '" type="button" class="btn btn-sm btn-light" onclick="' + myOnClick + '"><span class="mdi mdi-toggle-switch-off"></span></button>';
                    }
                }
            }
        ];
        // Cambiar las filas según toggle_es_activo
        // configDTCitOficinasServicios['createdRow'] = function(row, data, dataIndex) {
        //     if (data.hasOwnProperty('toggle_es_activo')) {
        //         // Cambiar el color de la fila si es_activo es false
        //         if (!data.toggle_es_activo.es_activo) $(row).addClass('table-secondary');
        //         // Asignar un id a la fila
        //         $(row).attr('id', 'cit_oficinas_servicios_row_' + data.toggle_es_activo.id);
        //     }
        // };
        // Filtros CitOficinasServicios
        const filtrosCitOficinasServicios = new FiltrosDataTable('#cit_oficinas_servicios_datatable', configDTCitOficinasServicios);
        filtrosCitOficinasServicios.agregarInput('filtroOficinaClave', 'oficina_clave');
        filtrosCitOficinasServicios.agregarInput('filtroOficinaDescripcionCorta', 'oficina_descripcion_corta');
        filtrosCitOficinasServicios.agregarInput('filtroCitServicioClave', 'cit_servicio_clave');
        filtrosCitOficinasServicios.agregarInput('filtroCitServicioDescripcion', 'cit_servicio_descripcion');
        filtrosCitOficinasServicios.precargar();
    </script>
    <!-- Datatables botones toggle_es_activo -->
    <script src="{{ url_for('static', filename='js/datatables-toggles.js') }}"></script>
    <script>
        // Preparar headers para POST
        const myHeaders = new Headers();
        myHeaders.append("X-CSRF-TOKEN", "{{ csrf_token() }}");
        const myInit = {
            method: "POST",
            headers: myHeaders,
            mode: "cors",
            cache: "default",
        };
    </script>
{% endblock %}
