/*
 * Boostrap 5 Login
 */

html {
    height: 100vh;
}

body {
    height: 100%;
    margin: 0;
    align-items: center;
}

main {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.bg::before {
    content: "";
    background-image: url("https://storage.googleapis.com/pjecz-informatica/static/images/ciudad-judicial-saltillo-fondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(100%) brightness(0.8) sepia(1) hue-rotate(200deg) saturate(200%);
    z-index: 0;
}

.form-signin {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    z-index: 1;
    backdrop-filter: blur(6px);
    border-radius: 12px;
}

#titulo {
    color:slategray
}
